<div class="container">

  <div class="steps step0" [ngClass]="{'animated bounceOutLeft': !currentSession[0].active}" *ngIf="currentSession[0].show">
    <h2 class="title is-2">Выберите коллекцию для изучения</h2>

    <table class="table">
      <thead>
        <tr>
          <th>№</th>
          <th>Title</th>
          <th>Description</th>
          <th>Number of words</th>
          <th>Studying time</th>
          <th>Percentage of studied</th>
          <th>To begin</th>
        </tr>
      </thead>

      <tbody>
        <!--<tr *ngFor="let collection of addedCollections | merge: ownCollections; let i=index">-->
        <tr *ngFor="let collection of collections; let i=index">
          <th>{{i+1}}</th>
          <td>{{collection.name}}</td>
          <td>{{collection.description}}</td>
          <td>{{collection.words.length}}</td>
          <td>{{collection.meta.wt.time}} min</td>
          <td>{{collection.meta.wt.percent}} %</td>
          <td>
            <span class="icon is-small primary-color" style="cursor: pointer" (click)="begin(collection)">
                  <i class="fa fa-play"></i>
                        </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <article class="steps step1 message is-primary" [ngClass]="{'animated bounceInRight': currentSession[1].active}" *ngIf="currentSession[1].active">
    <div class="message-header">
      <p>Primary</p>
    </div>

    <div class="message-body is-clearfix">
      <div class="card-wrapper">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-3">{{firstStepCurrent.word}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pick-wrapper">
        <a class="button">Знаю</a>
        <a class="button">Не знаю</a>
      </div>
    </div>





  </article>



</div>
