<app-user-tag *ngIf="true" [user]="user"></app-user-tag>

<span class="icon btn-back" *ngIf="!sections.menu.active" (click)="onBack()">
  <i class="fa fa-chevron-left"></i>
</span>


<div class="container animated fadeInLeft">



  <div class="training-wrapper" *ngIf="sections.menu.active">
    <div class="training-item" *ngFor="let section of sections.trainings" [ngClass]="{'item_block': section.block}">
       <div class="item_image">
          <img src={{section.img}} alt="whale" width="64px" height="48px">
      </div>
      <p class="item_title">{{section.title}}</p>
      <p class="item_desc">
        {{section.description}}
      </p>

      <div class="block">
      <a class="button is-primary button-block" (click)="onTabClick(section)">Начать</a>
    </div>
     
     

  
      
      </div>
  </div>

<app-my *ngIf="sections.trainings[0].active" (deleteWord)="deleteWord($event)" [addedCollections]="addedCollections" [ownCollections]="ownCollections" [collections]="collections"></app-my>
<app-word-translate *ngIf="sections.trainings[1].active" [addedCollections]="addedCollections" [ownCollections]="ownCollections" [collections]="collections"></app-word-translate>
<app-translate-word *ngIf="sections.trainings[2].active"></app-translate-word>
<app-audio-word *ngIf="sections.trainings[3].active"></app-audio-word>


</div>