
  <div class="wrapper animated fadeInRight">
  
    <div class="field">
      <div class="control">
        <input class="input is-large" type="text" placeholder="Слово на английском" [(ngModel)]="english" name="english" required autofocus>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input class="input is-large" type="text" placeholder="Перевод" [(ngModel)]="russian" name="russian" required>
      </div>
    </div>

     <div class="field">
      <div class="control">
        <input class="input is-large" type="text" placeholder="Пример применения" [(ngModel)]="example" name="example">
      </div>
    </div>

    <a class="button is-large add-btn" (click)="onAddWord()">
      <span class="icon is-large">
        <i class="fa fa-plus"></i>
      </span>
    </a>

  </div>
