/*.exit a {
  color: white;
}

.exit a:active {
  font-size: 18px;
}


.usertag-wrapper .tag {
    cursor: pointer;
}

.usertag-wrapper .notifications {
    color: white;
}

.usertag-wrapper .notifications:active {
    font-size: 18px;
}

.username {
    font-size: 22px;
    font-weight: 300;
    padding: 0px 10px;
}*/

.usertag-wrapper {
    padding: 5px 10px;
}
.user {

}